<ol>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
	<li ngNonBindable>{{ item }} - {{ price }}</li>
</ol>

Pay <span ngNonBindable>{{ money }}</span> to <span ngNonBindable>{{ organization }}</span>?

<button>Yes</button>
<button>No</button>
