<pre>{{ profile | async | json }}</pre>
<h1>Username: {{ (profile | async)?.username }}</h1>
<h2>Balance ${{ (profile | async)?.balance }}</h2>
<h3>
	You are member of these organizations:
</h3>
<ul>
	<li *ngFor="let organization of (profile | async)?.organizations?.memberOf">
		{{ organization }}
	</li>
</ul>
<h3>
	You own these organizations:
</h3>
<ul>
	<li *ngFor="let organization of (profile | async)?.organizations?.ownerOf">
		{{ organization }}
	</li>
</ul>

<h3>
	Your QR code:
</h3>
<div style="margin: 50px;">
	<qrcode [qrdata]="baseUrl + '/confirm/' + (profile | async)?.id"
	    [size]="350"
	    [level]="'M'"></qrcode>
</div>

<ol>
	<li>org1 - owner</li>
	<li>org2 - owner</li>
	<li>org3 - member - click to set bill of a table</li>
	<li>org4 - owner - click to add/remove/invite people, set bill of a table, set product and prices</li>
	<li>org5 - member</li>
</ol>
